.user-list {
    margin: 10px;
    padding:10px;
}

.heading{
    color: #4CAF50;
}
  
table {
width: 100%;
border-collapse: collapse;
border:1px solid black;
}

th, td {
padding: 8px;
border-bottom: 1px solid #ddd;
text-align: left;
border:1px solid black;
}

th {
background-color: #f2f2f2;
}

.actions {
width: 100px; 
}

.edit-button, .delete-button, .add-button {
padding: 6px 12px;
margin-right: 5px;
border: none;
border-radius: 4px;
cursor: pointer;
}

.edit-button {
background-color: #4CAF50;
color: white;
}

.delete-button {
background-color: #f44336;
color: white;
}

.add-button {
background-color: #008CBA;
color: white;
}

.add-button:hover, .edit-button:hover, .delete-button:hover {
opacity: 0.8;
}
  
.pagination {
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #f2f2f2;
    color: black;
    border: 1px solid #ccc;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: white;
  }
  
  .pagination button:hover:not(.active) {
    background-color: #ddd;
  }
  